body{
    background: rgb(20, 23, 41);
    color: rgb(252, 247, 255);
}

h1{
    color: rgb(252, 247, 255);
}

h2{
    color: rgb(252, 247, 255);
    text-align: center;
}

h3{
    color: rgb(252, 247, 255);
}