html{
    background-color: lavenderblush;
}

h1{
    color: purple;
}

p{
    color: purple;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu{
    z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    text-align: center;
}